.dotted-background {
background-image: url(./images/dots.png);
background-size: 50%;
}

.water-color-header{
  background-image: url(./images/header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 80%;
}

.water-color-footer{
  background-color: rgb(255, 242, 242);
}

.white{
  background-color: white;
  background-image: url(./images/dots.png);
  background-size: 50%;
  background-position: center;
  height: 10vh;
}

h1{
  font-size: 4rem;
}
.hero-img{
  background-image: url(./images/white-blank-notebook-733857.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}

.archivo{
  font-family: 'Archivo Narrow';
}

.logo{
  width: 15%;
}

.footer-logo{
  width: 20%;
}

.img-card{
  object-fit: contain;
  height: 200px;
}

.hgt-100{
  min-height: 100vh;
}

.cursor-pointer{
  cursor: pointer;
}

.img-cart{
  object-fit: contain;
}

.fa-times-circle{
  font-size: 2rem;
}

@media only screen and (max-device-width: 1366px) and (orientation: portrait){
  .logo{
    width: 20%;
  }
  .hero-img{
    height: 50vh;
  }
}

@media only screen and (max-device-width: 1024px) and (orientation: portrait) {
  .logo{
    width: 25%;
  }

  .white{
    height: 6vh;
  }
  h1{
    font-size: 3rem;
  }
}

@media only screen and (max-device-width: 812px) and (orientation: portrait) {
  .logo{
    width: 40%;
  }

  .footer-logo{
    width: 50%;
  }

  h1{
    font-size: 2rem;
  }

  .white{
    height: 7vh;
  }
}

@media only screen and (max-device-width: 768px) and (orientation: portrait){
  h1{
    font-size: 3rem;
  }
}

@media only screen and (max-device-width: 736px) and (orientation: landscape) {
  .logo{
    width: 20%;
  }
  .cart-container{
    width: 75%;
  }
}

@media only screen and (max-device-width: 375px) and (orientation: portrait){
  h1{
    font-size: 2em;
  }
}
