.img-card{
  object-fit: contain;
  height: 15vh;
}

.hgt-100{
  min-height: 93.5vh;
}

.cursor-pointer{
  cursor: pointer;
}

.img-cart{
  object-fit: contain;
}

.fa-times-circle{
  font-size: 1.5em;
}
