.img-card{
  object-fit: contain;
  height: 200px;
}

.hgt-100{
  min-height: 100vh;
}

.cursor-pointer{
  cursor: pointer;
}

.img-cart{
  object-fit: contain;
}

.fa-times-circle{
  font-size: 2rem;
}

@media only screen
and (max-device-width : 736px)
and (orientation : landscape) {
  .cart-container{
    width: 75%;
  }
}
